
main #main_infoUser{
    margin: 0 25%;
    height: 650px;
    width: 50%;
    border: none;  
}
#main_infoUser .head-title {
    align-items: center;
    font-size: 20px;
    margin: 10px 30px;
}

#main_infoUser .form-input .btn__changePass {
    font-weight: bold;
    cursor: pointer;
    color: black;
}

#main_infoUser .form-input .btn__changePass:hover {
    text-decoration: underline;
}

.form-info,
.form-changePass {
    margin: 0 20px;
}

.form-changePass {

}

#main_infoUser .form-input {
    padding: 20px 30px;
    position: relative;
}

#main_infoUser .form-input .form-label {
    color: black;
    font-weight: bold;
}

#main_infoUser .form-input #avt-user {
    width: 100%;
}

#main_infoUser .form-input #avt-user img {
    border-radius: 100%;
    border: 2px solid black;
    padding: 20px;
    font-size: 70px;
    margin-left: 40%;
    max-width: 100px;
    max-height: 100px;
}

/* INFO PRODUCT */
/* .detail-content.product .header-detail{
    top: 0;
    height: 30px;
    background-color: rgb(85, 83, 83);
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0 10px;
}
.detail-content.product .header-detail h3{
    color: #fff;
}
.info-product{
    background-color: #fff;
    border-radius: 10px;
}
.info-product ul{
    height: 100%;
}
.info-product ul.img li{
    margin: 3px;
}
.info-product ul.info{
    padding: 0 0 0 30px;
}
.info-product ul.info li {
    margin: 7px;
}
.info-product ul.img li:first-child{
    font-style: italic;
}   
.info-product ul.info li:last-child h3{
    color: rgb(209, 70, 70);
} */

/* END  */

